<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="/js/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="/js/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>Forgot Password</title>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark fixed-top py-0">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Dankpedia</a>
        </div>
        <div class="navbar-collapse" id="myNavbar">
            <div class="offcanvas-header mt-3">
                <button hidden id="closeButtonCollapse" class="btn btn-warning btn-close float-right">Close</button>
            </div>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/#reviews">REVIEWS</a></li>
                <li class="nav-item"><a class="nav-link" href="/#strains">STRAINS</a></li>
                <li class="nav-item"><a class="nav-link" href="/#contact">CONTACT</a></li>
            </ul>
        </div>
        <button class="navbar-toggler" type="button" data-trigger="#myNavbar">
            <span class="navbar-toggler-icon ml-auto"></span>
        </button>
    </div>
</nav>

<br>
<br>

<div class="container"><br>

    <div th:if="${param.success}">
        <div class="alert alert-success container">We've successfully sent a password reset link to your email.
        </div>
    </div>

    <h2 align="center">Forgot Password</h2>
    <div class="form-group"
         th:classappend="${#fields.hasErrors('email')}? 'has-error':''" style="text-align: center; display: inline">
        <form th:action="@{/forgot}" th:object="${email}" method="post">
            <p style="padding: 0 5px 0 0;">Enter your e-mail address and we'll send you a link to reset your
                password.</p>
            <input th:field="*{email}" align="center" type="text" placeholder="email"/>
            <button id="getTokenId" class="btn btn-warning">Send</button><br>
            <p class="error-message"
               th:each="error: ${#fields.errors('email')}"
               th:text="${error}" style="color: red; display: inline">Validation error</p>
        </form>
    </div>
</div>


<footer class="container-fluid text-center">
    <br><br>
    <a href="/terms">Terms and Conditions</a><span> | </span><a href="/privacy">Privacy Policy</a>
</footer>

<script src="/js/dashboard.js"></script>
</body>
</html>