<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="/js/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="/js/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>

    <title>Privacy Policy</title>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark fixed-top py-0">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Dankpedia</a>
        </div>
        <div class="navbar-collapse" id="myNavbar">
            <div class="offcanvas-header mt-3">
                <button hidden id="closeButtonCollapse" class="btn btn-warning btn-close float-right">Close</button>
            </div>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/#reviews">REVIEWS</a></li>
                <li class="nav-item"><a class="nav-link" href="/#strains">STRAINS</a></li>
                <li class="nav-item"><a class="nav-link" href="/#contact">CONTACT</a></li>
                <li class="nav-item" th:if="${user} == null"><a class="nav-link" style="color:black!important;"
                                                                th:href="@{/registration}">SIGN UP</a></li>
                <li class="nav-item" th:if="${user} == null"><a class="nav-link" style="color:black!important;"
                                                                th:href="@{/login}">LOGIN</a></li>
                <li th:if="${user} != null" class="dropdown">
                    <a class="nav-link dropdown-toggle" style="color:#fca95b!important;"
                       th:utext="${theHtml}+${user.username}" href="#" id="navbardrop" data-toggle="dropdown"></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" style="color:#fca95b!important;" th:href="@{/dashboard}">Dashboard</a>
                        <a class="dropdown-item" style="color:#fca95b!important;" th:href="@{/logout}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
        <button class="navbar-toggler" type="button" data-trigger="#myNavbar">
            <span class="navbar-toggler-icon ml-auto"></span>
        </button>
    </div>
</nav>
<br><br>
<div class="container">
    <br>
    <h2>Privacy Policy</h2>
    <h4 style="display: inline;">INTRODUCTION</h4>
    <p>Dankpedia respects the privacy of our users. This Privacy Policy explains how we collect, use, disclose, and
        safeguard your information when you visit our website Dankpedia.com, including any other media form, media
        channel, mobile website, or mobile application related or connected thereto. Please read this privacy policy
        carefully. If you do not agree with the terms of this privacy policy, please do not access Dankpedia.
        We reserve the right to make changes to this Privacy Policy at any time and for any reason. We will alert you
        about any changes by updating the “Last Updated” date of this Privacy Policy. Any changes or modifications will
        be effective immediately upon posting the updated Privacy Policy on Dankpedia, and you waive the right to receive
        specific notice of each such change or modification.
        You are encouraged to periodically review this Privacy Policy to stay informed of updates. You will be deemed to
        have been made aware of, will be subject to, and will be deemed to have accepted the changes in any revised
        Privacy Policy by your continued use of Dankpedia after the date such revised Privacy Policy is posted.
    <h4 style="display: inline;">COLLECTION OF YOUR INFORMATION</h4>
    <p>We may collect information about you in a variety of ways. The information we may collect on Dankpedia
        includes:</p>
    <h6 style="display: inline;">Personal Data</h6>
    <p>Personally identifiable information, such as your name, email address, and telephone number, and demographic
        information, such as your age and interests, that you voluntarily give to us or when you choose to participate
        in various activities related to Dankpedia, such as online chat and message boards. You are under no obligation
        to provide us with personal information of any kind, however your refusal to do so may prevent you from using
        certain features of Dankpedia.</p>
    <h6 style="display: inline;">Derivative Data</h6>
    <p>Information our servers automatically collect when you access Dankpedia, such as your IP address, your browser
        type, your operating system, your access times, and the pages you have viewed directly before and after
        accessing Dankpedia.</p>
    <h6 style="display: inline;">Mobile Device Data</h6>
    <p>Device information, such as your mobile device ID, model, and manufacturer, and information about the location of
        your device, if you access Dankpedia from a mobile device.</p>
    <h4 style="display: inline;">DISCLOSURE OF YOUR INFORMATION</h4>
    <p>We may share information we have collected about you in certain situations. Your information may be disclosed as
        follows:</p>
    <h6 style="display: inline;">By Law or to Protect Rights</h6>
    <p>If we believe the release of information about you is necessary to respond to legal process, to investigate or
        remedy potential violations of our policies, or to protect the rights, property, and safety of others, we may
        share your information as permitted or required by any applicable law, rule, or regulation. This includes
        exchanging information with other entities for fraud protection and credit risk reduction.</p>
    <h6 style="display: inline;">Third-Party Service Providers</h6>
    <p>We may share your information with third parties that perform services for us or on our behalf, including payment
        processing, data analysis, email delivery, hosting services, customer service, and marketing assistance.</p>
    <h6 style="display: inline;">Interactions with Other Users</h6>
    <p>If you interact with other users of Dankpedia, those users may see your name, profile photo, and descriptions of
        your activity, including sending invitations to other users, chatting with other users, liking posts, following
        blogs.</p>
    <h6 style="display: inline;">Online Postings</h6>
    <p>When you post comments, contributions or other content to Dankpedia, your posts may be viewed by all users and
        may be publicly distributed outside Dankpedia in perpetuity.</p>
    <h6 style="display: inline;">Third-Party Advertisers</h6>
    <p>We may use third-party advertising companies to serve ads when you visit Dankpedia. These companies may use
        information about your visits to Dankpedia and other websites that are contained in web cookies in order to
        provide advertisements about goods and services of interest to you.</p>
    <h4 style="display: inline;">TRACKING TECHNOLOGIES</h4><br>
<h6 style="display: inline;">Cookies and Web Beacons</h6>
<p>[We may use cookies, web beacons, tracking pixels, and other tracking technologies on Dankpedia to help customize
    Dankpedia and improve your experience. When you access Dankpedia, your personal information is not collected through
    the use of tracking technology. Most browsers are set to accept cookies by default. You can remove or reject
    cookies, but be aware that such action could affect the availability and functionality of Dankpedia. You may not
    decline web beacons. However, they can be rendered ineffective by declining all cookies or by modifying your web
    browser’s settings to notify you each time a cookie is tendered, permitting you to accept or decline cookies on an
    individual basis.]
    [We may use cookies, web beacons, tracking pixels, and other tracking technologies on Dankpedia [and our mobile
    application] to help customize Dankpedia and improve your experience. For more
    information on how we use cookies, please refer to our Cookie Policy posted on Dankpedia, which is incorporated into
    this Privacy Policy. By using Dankpedia, you agree to be bound by our Cookie Policy.]</p>
<h6 style="display: inline;">Internet-Based Advertising</h6>
<p>Additionally, we may use third-party software to serve ads on Dankpedia, implement email marketing campaigns, and
    manage other interactive marketing initiatives. This third-party software may use cookies or similar tracking
    technology to help manage and optimize your online experience with us.</p>
<h6 style="display: inline;">Website Analytics</h6>
<p>We may also partner with selected third-party vendors[, such as [Adobe Analytics,] [Clicktale,] [Clicky,]
    [Cloudfare,] [Crazy Egg,] [Flurry Analytics,] [Google Analytics,] [Heap Analytics,] [Inspectlet,] [Kissmetrics,]
    [Mixpanel,] [Piwik,] and others], to allow tracking technologies and remarketing services on Dankpedia [and our
    mobile application] through the use of first party cookies and third-party cookies, to, among other things, analyze
    and track users’ use of Dankpedia, determine the popularity of certain content and better understand online
    activity. By accessing Dankpedia, you consent to the collection and use of your information by these third-party
    vendors. You are encouraged to review their privacy policy and contact them directly for responses to your
    questions. We do not transfer personal information to these third-party vendors. However, if you do not want any
    information to be collected and used by tracking technologies, you can visit the third-party vendor or the Network
    Advertising Initiative Opt-Out Tool or Digital Advertising Alliance Opt-Out Tool.</p>
You should be aware that getting a new computer, installing a new browser, upgrading an existing browser, or erasing or
otherwise altering your browser’s cookies files may also clear certain opt-out cookies, plug-ins, or settings.</p>
<h4 style="display: inline;">THIRD-PARTY WEBSITES</h4>
<p>Dankpedia may contain links to third-party websites and applications of interest, including advertisements and
    external services, that are not affiliated with us. Once you have used these links to leave Dankpedia, any
    information you provide to these third parties is not covered by this Privacy Policy, and we cannot guarantee the
    safety and privacy of your information. Before visiting and providing any information to any third-party websites,
    you should inform yourself of the privacy policies and practices (if any) of the third party responsible for that
    website, and should take those steps necessary to, in your discretion, protect the privacy of your information. We
    are not responsible for the content or privacy and security practices and policies of any third parties, including
    other sites, services or applications that may be linked to or from Dankpedia.
<h4 style="display: inline;">SECURITY OF YOUR INFORMATION</h4>
<p>We use administrative, technical, and physical security measures to help protect your personal information. While we
    have taken reasonable steps to secure the personal information you provide to us, please be aware that despite our
    efforts, no security measures are perfect or impenetrable, and no method of data transmission can be guaranteed
    against any interception or other type of misuse. Any information disclosed online is vulnerable to interception and
    misuse by unauthorized parties. Therefore, we cannot guarantee complete security if you provide personal
    information.</p>
<h4 style="display: inline;">POLICY FOR MINORS</h4>
<p>We do not knowingly solicit information from or market to children under the age of 21. If you become aware of any
    data we have collected from children under age 21, please contact us using the contact information provided
    below.</p>
<h4 style="display: inline;">CONTROLS FOR DO-NOT-TRACK FEATURES</h4>
<p>Most web browsers and some mobile operating systems include a Do-Not-Track (“DNT”) feature or setting you can
    activate to signal your privacy preference not to have data about your online browsing activities monitored and
    collected. No uniform technology standard for recognizing and implementing DNT signals has been finalized. As such,
    we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your
    choice not to be tracked online. If a standard for online tracking is adopted that we must follow in the future, we
    will inform you about that practice in a revised version of this Privacy Policy./Most web browsers and some mobile
    operating systems [and our mobile applications] include a Do-Not-Track (“DNT”) feature or setting you can activate
    to signal your privacy preference not to have data about your online browsing activities monitored and collected. If
    you set the DNT signal on your browser, we will respond to such DNT browser signals.</p>
<h4 style="display: inline;">OPTIONS REGARDING YOUR INFORMATION</h4><br>
<h6 style="display: inline;">[Account Information]</h6>
<p>You may at any time review or change the information in your account or terminate your account by:
    Logging into your account settings and updating your account
    Contacting us using the contact information provided below
    Upon your request to terminate your account, we will deactivate or delete your account and information from our
    active databases. However, some information may be retained in our files to prevent fraud, troubleshoot problems,
    assist with any investigations, enforce our Terms of Use and/or comply with legal requirements.</p>

<h6 style="display: inline;">Emails and Communications</h6>
<p>If you no longer wish to receive correspondence, emails, or other communications from us, you may opt-out by:
    Noting your preferences at the time you register your account with Dankpedia
    Logging into your account settings and updating your preferences.
    Contacting us using the contact information provided below
    If you no longer wish to receive correspondence, emails, or other communications from third parties, you are
    responsible for contacting the third party directly.</p>

<h4 style="display: inline;">CALIFORNIA PRIVACY RIGHTS</h4>

<p>California Civil Code Section 1798.83, also known as the “Shine The Light” law, permits our users who are California
    residents to request and obtain from us, once a year and free of charge, information about categories of personal
    information (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all
    third parties with which we shared personal information in the immediately preceding calendar year. If you are a
    California resident and would like to make such a request, please submit your request in writing to us using the
    contact information provided below.</p>

<h4 style="display: inline;">CONTACT US</h4>

    <p>If you have questions or comments about this Privacy Policy, please <a href="/#contact">contact us</a>.</p>
</div>


<footer class="container-fluid text-center">
    <br><br>
    <a href="/terms">Terms and Conditions</a><span> | </span><a href="/privacy">Privacy Policy</a>
</footer>

<script src="/js/dashboard.js"></script>
</body>
</html>