<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="/js/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="/js/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>

    <title>Reset Password</title>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark fixed-top py-0">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Dankpedia</a>
        </div>
        <div class="navbar-collapse" id="myNavbar">
            <div class="offcanvas-header mt-3">
                <button hidden id="closeButtonCollapse" class="btn btn-warning btn-close float-right">Close</button>
            </div>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/#reviews">REVIEWS</a></li>
                <li class="nav-item"><a class="nav-link" href="/#strains">STRAINS</a></li>
                <li class="nav-item"><a class="nav-link" href="/#contact">CONTACT</a></li>
            </ul>
        </div>
        <button class="navbar-toggler" type="button" data-trigger="#myNavbar">
            <span class="navbar-toggler-icon ml-auto"></span>
        </button>
    </div>
</nav>

<br>
<br>

<div class="container"><br>

    <div th:if="${param.success}">
        <div class="alert alert-success container">We've successfully reset your password. Click <a href="/login">here</a> to login.
        </div>
    </div>
    <div th:if="${param.invalid}">
        <div class="alert alert-warning container">Sorry, the reset password link is invalid.
        </div>
    </div>
    <div th:if="${param.expired}">
        <div class="alert alert-success container">Sorry, the reset password link expired.
        </div>
    </div>

    <h2 align="center">Reset Password</h2>
    <p style="padding: 0 5px 0 0; text-align: center;">Enter a new password for your Dankpedia account. <small>(must be at least 8 characters long)</small></p>

        <div class="container" align="center">
            <input id="password" type="password" align="center" placeholder="password"/>

            <input id="confirmPassword" type="password" align="center" placeholder="confirm password"/>

            <button id="changePassButton" type="submit" class="btn btn-warning">Change password</button><br>

            <p hidden id="changePassError"></p>
        </div>
        <br>


</div>


<footer class="container-fluid text-center">
    <br><br>
    <a href="/terms">Terms and Conditions</a><span> | </span><a href="/privacy">Privacy Policy</a>
</footer>

<script src="/js/dashboard.js"></script>
<script src="/js/resetPass.js"></script>
</body>
</html>